{% set bodyClass = 'directors' %}

{% set directors = talent.directorTalent.all() %}
{% set photographers = talent.photographerTalent.all() %}

{% extends "default/_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}
<div class="grid-container">
  {# Directors #}
  <div class="grid-x grid-padding-x grid-padding-y margin-bottom-1 align-center">
    <div class="small-12 medium-10 large-10 xlarge-10 cell padding-bottom-0 text-center">
    <div class="margin-vertical-1 text-uppercase dark-gray small">{{talent.motionText}}</div>
    {% for director in directors %}
    <div data-aos="fade-in"><a href="{{director.url}}" class="h1">{{director.title}}</a></div>
    {% endfor %}
    </div>
  </div>
  {# End Directors #}
  {# Photographers #}
  <div class="grid-x grid-padding-x grid-padding-y margin-bottom-1 align-center">
    <div class="small-12 medium-10 large-10 xlarge-10 cell text-center">
    <div class="margin-vertical-1 text-uppercase dark-gray small">{{talent.stillsText}}</div>
    {% for photographer in photographers %}
    <div data-aos="fade-in"><a href="{{photographer.url}}" class="h1">{{photographer.title}}</a></div>
    {% endfor %}
    </div>
  </div>
  {# End Photographers #}
  <div class="grid-x grid-padding-x grid-padding-y margin-bottom-3 align-center">
    <div class="small-12 medium-10 large-10 xlarge-10 cell text-center">
    <div data-aos="fade-in"><a href="/about#associatedTalent" class="text-uppercase dark-gray small">Associated Talent</a></div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}