<!-- Mobile Navigation -->
{#
<nav class="grid-x grid-padding-y align-center hide-for-large" id="swup-header">
  <div class="shrink cell">
    <a class="logo text-uppercase letter-spacing--loose" type="button" aria-label="Navigation" data-toggle="overlayNavigation">
    {{ currentSite.name }}
    </a>
  </div>
</nav>
#}
<!-- End Mobile Navigation -->

<!-- Desktop Navigation -->
<nav class="grid-x grid-padding-x grid-padding-y align-justify align-middle" id="swup-header">

  <div class="small-3 medium-4 cell align-middle">
    <button class="hamburger hamburger--criss-cross" id="menuBar" type="button" data-toggle="menuBar offCanvasLeft" data-toggler="active">
        <div class="inner">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </button>
  </div>

  <div class="small-6 medium-4 cell text-center">
    <div style="overflow: hidden">
      <div class="cl-effect-5" id="cl-effect-5">
          <a href="/" class="logo text-uppercase letter-spacing--loose h5"><span data-hover="{{ currentSite.name }}">{{ currentSite.name }}</span></a>
      </div>
    </div>
  </div>

  <div class="small-3 medium-4 cell align-middle text-right">
{#     <a href="/contact"><svg class="icon icon-search"><use xlink:href="/assets/icons/symbol-defs.svg#icon-search"></use></svg></a> #}
  <ul class="menu simple align-right">
     {% for block in socials.socials.all() %}
      {% switch block.type %}
        {% case "instagram" %}
          <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-socials icon-instagram"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-instagram"></use></svg></a></li>
        {% case "vimeo" %}
          <li class="show-for-medium"><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-socials icon-imdb"><use xlink:href="/assets/icons/symbol-defs.{{staticAssetsVersion}}.svg#icon-vimeo"></use></svg></a></li>
      {% endswitch %}
      {% endfor %}
    </ul>
  </div>
</nav>
<!-- End Desktop Navigation -->
