{% set bodyClass = 'about' %}

{% if entry.seoTitle | length %}
{% set seoTitle = entry.seoTitle %}
{% else %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription | length %}
{% set seoDescription = entry.seoDescription %}
{% endif %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}

{% block main %}

{% set block = entry.hero.one() %}
{% if block %}
{% if block.image |length %}
<div class="hero black-background-color">
{% set image = block.image.one() %}
<div class="image--hero align-center-middle" {% if not block.video %}data-interchange="{% include "_includes/images/full/full/interchange-img-small-12-medium-12" %}"{% endif %} data-aos="fade-in">
  
  <div class="grid-y height-100 align-center content">
    <div class="shrink cell text-center white">

      <div class="grid-container" data-aos="fade-up">
        <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 align-center align-middle">
          <div class="small-11 medium-10 large-8 cell text-center">
            {{block.copy}}
          </div>
        </div>
      </div>

    </div>
  </div>
  {% if block.video %}
    <video autoplay loop muted playsinline class="video--background" poster="">
      <source data-src="{{ block.video }}" type="video/mp4">
    </video>
  {% endif %}
  </div>
</div>
{% else %}
<div class="grid-container" data-aos="fade-up">
  <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 align-center align-middle">
    <div class="small-11 medium-10 large-9 cell text-center">
      {{block.copy}}
    </div>
  </div>
</div>
{% endif %} 
{% endif %}

{# About #}
<div class="grid-container" data-aos="fade-in">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-8 xxlarge-8 cell text-center">
      <div class="dark-gray small text-uppercase letter-spacing--loose padding-bottom-1">About</div>
      {{entry.copy}}
    </div>
  </div>
</div>
{# End About #}

{# Clients #}
<div class="grid-container" data-aos="fade-in">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 medium-10 large-8 xxlarge-8 cell text-center">
      <div class="dark-gray small text-uppercase letter-spacing--loose padding-bottom-1">Clients</div>
      {% if entry.clientCopy | length %}
      {{entry.clientCopy | markdown}}
      {% endif %}
      <ul class="menu align-center">
        {% for client in entry.clients  %}
        {% if client.link %}
        <li><a href="{{ client.link }}">{{ client.client }}</a></li>
        {% else %}
        <li class="menu-text">{{ client.client }}</li>
        {% endif %}
        {% endfor %}
      </ul>
      </div>
    </div>
  </div>
{# End Clients #}

{# Team #}
<div class="grid-container padding-bottom-2" data-aos="fade-in">
  
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 medium-10 large-8 xxlarge-8 cell text-center padding-bottom-0">
        <div class="dark-gray small text-uppercase letter-spacing--loose">Team</div>
      </div>
    </div>

    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 medium-10 large-8 xxlarge-8 cell text-center">
        <div class="grid-x grid-padding-x grid-padding-y">
          {% for person in entry.people.all()  %}
            <div class="small-12 medium-4 cell text-center padding-bottom-0">
            <a href="mailto:{{ person.email }}">
              <div>{{ person.person }}</div>
              <div class="dark-gray">{{ person.department }}</div>
            </a>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

</div>
{# End Team #}

{# Collaborators #}
<div class="grid-container padding-bottom-2" data-aos="fade-in">
  
    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 medium-10 large-8 xxlarge-8 cell text-center padding-bottom-1">
        <div class="dark-gray small text-uppercase letter-spacing--loose">Collaborators</div>
      </div>
    </div>

    <div class="grid-x grid-padding-x grid-padding-y align-center">
      <div class="small-12 medium-10 large-8 xxlarge-8 cell text-center">
        <div class="grid-x grid-padding-x grid-padding-y">
          <ul class="menu align-center">
            {% for collaborator in entry.collaborators  %}
            {% if collaborator.link %}
            <li><a href="{{ collaborator.link }}">{{ collaborator.collaborator }}</a></li>
            {% else %}
            <li class="menu-text">{{ collaborator.collaborator }}</li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

</div>
{# End Team #}


{% endblock %}

{% block cta %}
{% include "_includes/global/cta" %}
{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}