{% set bodyClass = 'project' %}

{% if entry.seoTitle|length %}
{% set seoTitle = entry.seoTitle %}
{% elseif entry.title|length %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription|length %}
{% set seoDescription = entry.seoDescription|striptags|raw %}
{% else %}
{% set seoDescription = entry.title %}
{% endif %}

{% if entry.image|length  %}
{% set asset = entry.image.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% endif %}

{# Set parameters for prev/next elements list #}
{% set params = craft.entries
.section('projects')
.relatedTo(entry.typeOfProject)
%}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}


{% extends "_layouts/site" %}


{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}

<!-- Content -->
<div class="grid-x grid-padding-x grid-padding-y align-center">

<!-- Previous -->
<div class="auto cell show-for-large project__pagination">
  {% if prevEntry %}
  <a href="{{ prevEntry.url }}">
    <div class="grid-y align-center" style="height: 100%;" data-tippy-content="{{ prevEntry.title }}">
    </div>
  </a>
  {% endif %}
</div>
<!-- End Previous -->

<!-- Center -->
<div class="small-12 medium-10 large-10 xlarge-8 cell">

{% if entry.video | length %}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell text-center">
    <vime-player playsinline>
      <vime-vimeo video-id="{{ entry.video|replace('https://vimeo.com/', '') }}"></vime-vimeo>
      
      <vime-default-ui no-controls no-poster active-duration="50">
      
      <vime-controls 
      active-duration="50"
      hideOnMouseLeave="true"
      pin="center">
      <vime-click-to-play></vime-click-to-play>
      <div><h1 class="white">{{ entry.title }}</h1><div class="text-uppercase small letter-spacing--loose white">{{entry.client}}</div></div>
      </vime-controls>
      
      
      <vime-controls 
      full-width 
      pin="bottomLeft">
      <vime-playback-control hide-tooltip></vime-playback-control>
      </vime-controls>
      
      <vime-controls full-width>
      <vime-playback-control hide-tooltip></vime-playback-control>
      <vime-volume-control hide-tooltip></vime-volume-control>
      <vime-control-spacer></vime-control-spacer>
      <vime-fullscreen-control hide-tooltip></vime-fullscreen-control>
      </vime-controls>
      
      </vime-default-ui>
    </vime-player>
  </div>
</div>
{% elseif entry.image | length %}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell text-center">
  {% set image = entry.image.one() %}
  <div class="image--16-9" data-interchange="{% if image | length %}{% include "_includes/images/full/16-9/interchange-img-small-12-medium-6" %}{% endif %}"></div>
  </div>
</div>
{% endif %}


<!-- Credits -->
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 medium-12 cell text-center small letter-spacing--loose">
  
  <div class="text-uppercase letter-spacing--loose margin-bottom-1">{{ entry.title }} — {{entry.client}}</div>

  {% if entry.director|length %}
  {% set director = entry.director.one() %}
  <div class="text-uppercase"><span class="dark-gray padding-right-half">Director</span> {{ director.title }}</div>
  {% endif %}

  {% if entry.producer|length %}
  {% set producer = entry.producer.one() %}
  <div class="text-uppercase"><span class="dark-gray padding-right-half">Producer</span> {{ producer.title }}</div>
  {% endif %}

  {% if entry.agency|length %}
  <div class="text-uppercase"><span class="dark-gray padding-right-half">Agency</span> {{ entry.agency}}</div>
  {% endif %}

  {% if entry.length|length %}
  <div class="margin-top-1">{{ entry.length }}</div>
  {% endif %}

  {% if entry.director|length %}
  {% set director = entry.director.one() %}
  <div class="margin-top-1 text-uppercase dark-gray"><a href="{{ director.domain }}">More from director</a></div>
  {% endif %}

  </div>
</div>
<!-- End Credits -->

<!-- Mobile Pagination -->
{% if nextEntry %}
<div class="grid-x grid-padding-x grid-padding-y align-center hide-for-large">
  <div class="shrink cell text-center">
    <a href="{{ nextEntry.url }}"><svg class="icon icon-arrows icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></a>
  </div>
</div>
{% endif %}
<!-- End Mobile Pagination -->
      
</div>
<!-- End Center -->

<!-- Next -->
<div class="auto cell show-for-large project__pagination">
  {% if nextEntry %}
  <a href="{{ nextEntry.url }}">
    <div class="grid-y align-center" style="height: 100%;" data-tippy-content="{{ nextEntry.title }}">
{#       <div class="shrink cell text-center"><svg class="icon icon-arrows icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></div> #}
    </div>
  </a>
  {% endif %}
</div>
<!-- End Next -->

</div>   
<!-- End Content -->

{% endblock %}

{% block cta %}
{% include "_includes/global/cta" %}
{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}