{% set bodyClass = 'project' %}

{% if entry.seoTitle|length %}
{% set seoTitle = entry.seoTitle %}
{% elseif entry.title|length %}
{% set seoTitle = entry.title %}
{% endif %}

{% if entry.seoDescription|length %}
{% set seoDescription = entry.seoDescription|striptags|raw %}
{% else %}
{% set seoDescription = entry.title %}
{% endif %}

{% if entry.image|length  %}
{% set asset = entry.image.one() %}
{% set seoImage = craft.imager.transformImage(asset, { width: 1200, height: 630, dpr: 1, position: asset.getFocalPoint() }) %}
{% endif %}

{# Set parameters for prev/next elements list #}
{% set params = craft.entries
.section('projects')
.relatedTo(entry.typeOfProject)
%}

{# Get the prev/next elements #}
{% set prevEntry = entry.getPrev(params) %}
{% set nextEntry = entry.getNext(params) %}

{% extends "_layouts/site" %}

{% block navigation %}
{% include "_includes/global/navigation" %}
{% endblock %}


{% block main %}

<!-- Content -->
<div class="grid-x grid-padding-x grid-padding-y align-center">

<!-- Center -->
<div class="small-12 medium-10 large-10 xlarge-10 cell">

{% if entry.video | length %}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell text-center">
  <div class="plyr-wrapper">
      <div class="js-player" data-plyr-provider="vimeo" data-plyr-embed-id="{{ entry.video }}"></div>
      <div class="overlay">
      <div class="grid-y align-center height-100">
        <div class="shrink cell text-center white">
        <h1 class="white">{{entry.title}}</h1>
        <div class="text-uppercase letter-spacing--loose margin-bottom-1 show-for-medium">{{entry.client}}</div>
        </div>
      </div>
      </div>
  </div>
  </div>
</div>
{% elseif entry.image | length %}
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 cell text-center">
  {% set image = entry.image.one() %}
  <div class="image--16-9" data-interchange="{% if image | length %}{% include "_includes/images/full/16-9/interchange-img-small-12-medium-6" %}{% endif %}"></div>
  </div>
</div>
{% endif %}


<!-- Credits -->
<div class="grid-x grid-padding-x grid-padding-y align-center">
  <div class="small-12 medium-12 large-8 cell text-center">
  
  <div class="text-uppercase margin-bottom-1 small">{{ entry.title }}{% if entry.client| length %} — {{entry.client}}{% endif %}</div>

  {% if entry.director|length %}
  {% set director = entry.director.one() %}
  <div class="text-uppercase small"><span class="dark-gray padding-right-half">Director</span> {{ director.title }}</div>
  {% endif %}

  {% if entry.producer|length %}
  {% set producer = entry.producer.one() %}
  <div class="text-uppercase small"><span class="dark-gray padding-right-half">Producer</span> {{ producer.title }}</div>
  {% endif %}

  {% if entry.agency|length %}
  <div class="text-uppercase small"><span class="dark-gray padding-right-half">Agency</span> {{ entry.agency}}</div>
  {% endif %}

  {% if entry.length|length %}
  <div class="margin-top-1 small">{{ entry.length }}</div>
  {% endif %}

  {% if entry.director|length %}
  {% set director = entry.director.one() %}
  <div class="margin-top-1 text-uppercase dark-gray small"><a href="{{ director.url }}">More from director</a></div>
  {% endif %}

  {% if entry.copy|length %}
  <div class="margin-top-2">{{entry.copy}}</div>
  {% endif %}

  </div>
</div>
<!-- End Credits -->

<!-- Related Projects -->
{# {% set relatedprojects = craft.entries()
.section('projects')
.relatedTo(director)
.limit(3) %}

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y margin-bottom-3 align-center">
      {% for project in relatedprojects %}
      <div class="small-12 medium-6 large-4 cell padding-bottom-0">
        <div class="grid-y align-center height-100">
          <div class="shrink cell text-center">
          {% include "_includes/blocks/excerpt" %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div> #}
<!-- End Related Projects -->

<!-- Mobile Pagination -->
{% if nextEntry %}
<div class="grid-x grid-padding-x grid-padding-y align-center hide-for-large">
  <div class="shrink cell text-center">
    <a href="{{ nextEntry.url }}"><svg class="icon icon-arrows icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg></a>
  </div>
</div>
{% endif %}
<!-- End Mobile Pagination -->
      
</div>
<!-- End Center -->

</div>   
<!-- End Content -->

{% endblock %}

{% block cta %}
{% include "_includes/global/cta" %}
{% endblock %}

{% block footer %}
{% include "_includes/global/footer" %}
{% endblock %}